opencv-python~=4.12.0.88
pillow~=11.3.0
python-dateutil~=2.9.0
Django~=5.2.6
djangorestframework~=3.16.1
celery~=5.5.3
django-celery-beat~=2.8.1
redis~=6.4.0
pytest-django~=4.11.1
open-meteo~=0.3.2
django-redis~=6.0.0
spotipy~=2.25.1
pre-commit~=4.3.0